.modal {
    font-size: 12px;
    background: url('../images/modal.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 75%;
    color:#815F50;
    padding: 30px 120px;
}

.modal > .header-modal {
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0 25px 0;
    color: #fff;
}

.modal > .content {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
}

.upgrade > .content img{
    padding: 5px;
}

.upgrade > .content p{
    padding-bottom: 10px;
}

.modal > .actions {
    width: 100%;
    margin: auto;
    text-align: center;

}

.modal > .actions button{
    font-size: 24px;
    font-weight: bold;
    background: #12B124;
    cursor: pointer;
    padding: 5px 40px;
}

.modal > .close{
    position: absolute;
    right: 0%;
    top: 5%;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.822);
}

.popup-content {
    max-width: 900px;
    height: 507px;
}

.info-card{
    display: flex;
    margin-bottom: 40px;
}

.info-card__img{
    background: #6b4c3e3f;
    border-radius: 8px;
    margin: 0 30px 0 10px;
}

.info-card__img-wrapper{
    padding: 10px 20px 0;
}

.info-card__text h4{
    font-size: 24px;
}
.info-card__text p{
    padding: 0;
}

.info-card ul{
    flex-direction: column;
    text-align: left;
    margin-right: 60px;
}

.info-card ul li{
    font-size: 16px;
}

.info-card ul span{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-card__progress li{
    font-weight: bold;
    color: #000;
}

.li-wrapper{
    display: flex;
    align-items: center
}

.info-card__progress p:first-child{
    font-size: 16px;
    font-weight: 400;
    color: #815F50;
    text-align: left;
}

.info-card__progress p {
    padding-bottom: 20px;
    color: #000;
    font-weight: bold;
}

.info-card__progress img{
    width: 30px;
}

.research-wrapper{
    display: flex;
    justify-content: center;
}

.research-left-img-modal{
    flex: 0 0 50%;
    max-width: 50%;
}

.research-left-img-modal img{
    width: 100%;
    height: 100%;

}

.research-right-modal{
    text-align: center;
    padding: 10px;
    flex: 0 0 50%;
    max-width: 50%;
    background: rebeccapurple;
}

.research-right-modal h3{
    color: #fff;
    font-size: 25px;
    font-weight: bold;

}

.research-right-modal p{
    font-size: 16px!important;
    color: #fff;
}

.research-right-modal__header{
    background: url('../images/orange_title.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    padding: 40px 0;
}