.modal.unequip {
    font-size: 12px;
    background: url('../images/popup1_bg.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color:#815F50;
    padding: 30px 95px;
}

.modal.unequip > .header-modal {
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0 25px 0;
}

.modal.unequip > .content {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
}

.modal.unequip > .content img{
    padding: 5px 0 25px 0;
}

.modal.unequip > .content p{
    font-size: 18px;
    padding-bottom: 60px;
}

.modal.unequip > .actions {
    width: 100%;
    margin: auto;
    text-align: center;
}

.modal.unequip > .actions a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    background: #12B124;
    padding: 5px 40px;
    cursor: pointer;
    color: #fff;
}

.modal.unequip > .close{
    position: absolute;
    right: 3%;
    top: 4%;
    cursor: pointer;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.822);
}

.popup-content {
    max-width: 900px;
    height: 507px;
}