

.nav-list{

    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #fff;

}

.nav-list ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list li{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px;
    position: relative;

}

.nav-list li img{
    text-decoration: none;
    color: #fff;
    z-index: 2;
    margin-right: 20px;
}

.nav-list li:hover{
    background-image: url('../../images/select_tab.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-list li.active{
    background-image: url('../../images/select_tab.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




@media screen and (max-width: 890px) {
    .footer{
        display: none;
    }
}