section .screens_container{
  color: #FFFFFF;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;



  .screens_content{
  position: relative;
  max-width: 1200px;



  @media screen and (max-width: 1439px) {
    max-width: 800px;
  }

  }
  
}

.carousel.carousel-slider{
  @media screen and (max-width: 1539px) {
    height: 548px!important;
  }
}

.carousel .slide img{
  @media screen and (max-width: 1539px) {
    width: 75%!important;
  }
}