/*.market{*/
/*    background-image: url('../../images/ingame_background.png');*/
/*    background-position: center;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    overflow: auto;*/
/*}*/


.main-main-contant.market{
    justify-content: center;
}

/*.main-workplace.market .main-main-contant{*/
/*    padding: 0 0 20px 0;*/
/*    overflow: auto;*/
/*}*/

.main-workplace.market .market-list{
    padding: 0 0 30px 20px;
    overflow-y: auto;
}

.main-workplace.market{
    justify-content: center;
}

.main-workplace.market .main-main{
    margin: 0;
}

.main-workplace.market .container{
    height: 580px;
    padding: 85px 85px 0 111px;
}

.header-market{
    margin-bottom: 30px;
}

.header-market__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-market__wrapper .filter select{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #815F50;
    background: transparent;
    padding: 10px 30px;
    text-align: left;
    color: #512B47;
}

.header-market__wrapper button{
    color: #E8D9BF;
    background: #3b1d36;
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
}

.no-inventory{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.market-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    width: 991px;
    height: 304px;
    /* UI Properties */
    background: #B99068 0 0 no-repeat padding-box;
    border: 2px solid #AE845B;
    border-radius: 10px;
    opacity: 1;
}

.market-list_item{
    margin: 10px 10px;
    cursor: pointer;
}

.market-list_item:hover{
    border: 2px solid yellow;
}

.market-list_item.selected{
    border: 2px solid yellow;
}

.list-item-wrapper{
    width: 186px;
    height: 282px;
}

.market-list_item img{
    width: 100%;
    height: 100%;
}


.market-btn{
    margin-top: 5%;
}

.market-btn button{
    background: #12B124;
    padding: 10px 30px;
    color: #fff;
    border: 0;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.market-lvl{
    color: #fff;
    font-weight: bold;
}

.market-lvl p {
    font-size: 20px;
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 1450px) {
    .market .main-main{
        height: 575px;
    }
}

@media screen and (max-width: 1400px) {
    .market-btn{
        margin-top: 3%;
    }
}